body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: url("./Assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.box {
    margin: 10%;
    background-color: #FFF;
    width: 380PX;
    height: 100%;
    border-radius: 10px;
}

.content1 {
    position: relative;
    background-color: blue;
    opacity: 0.7;
    width: 380PX;
    height: 180px;
    border-radius: 10px 10px 0 0
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.overlay {
    position: absolute;
    background-image: url('./Assets/Pattern.png');
    color: white;
    width: 380PX;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.content1 h3 {
    max-width: 200px;
    text-align: center;
}

.content2 p {
    color: #7e7e7e;
    max-width: 300px;
    text-align: center;
}

.box-input-email {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-input-email input {
    padding: 10px;
    margin: 2px;
    border-radius: 5px;
}

#email-address {
    width: 210px;
    background-color: rgb(231, 228, 228);
    border: 0;
    opacity: 0.5;
    padding: 11px;
}

#btn-submit {
    width: 100px;
    background-color: blue;
    color: white;
    opacity: 0.7;
    border: 0;
}

.desc p {
    color: #9e9e9e;
    max-width: 245px;
    text-align: center;
    font-size: 13px;
}

.bio {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.bio div {
    padding: 5px;
}

.bio p {
    margin: 0;
    padding: 2px;
}

#p1 {
    font-weight: bold;
    font-size: 15px;
}

#p2 {
    color: #505050;
    font-size: 12px;
}

.text {
    display: flex;
    justify-content: center;
}

.text p {
    color: #7e7e7e;
    text-align: center;
    width: 330px;
    font-size: 15px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .box {
        margin: 5%;
        width: 90%; 
    }

    .content1, .content2, .overlay {
        width: 100%;
    }

    #email-address {
        max-width: 100%; 
    }

    #email-address {
    width: 210px;
    background-color: rgb(231, 228, 228);
    border: 0;
    opacity: 0.5;
    padding: 11px;
    }

    #btn-submit {
    width: 80px;
    background-color: blue;
    color: white;
    opacity: 0.7;
    border: 0;
    }   

    .desc {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .box {
        margin: 10%;
        width: 70%; 
    }

    .content1, .content2, .overlay {
        width: 100%;
    }

    .desc {
        display: flex;
        justify-content: center;
    }
}